# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
azure-storage-blob
azure-storage-queue
azure-data-tables
azure-identity
python-telegram-bot==21.7
aiohttp
openai==1.59.3
backoff==2.2.1
pydub==0.25.1
azure-common
azure-cosmos
langchain==0.3.19
langchain-core==0.3.40
langchain-openai==0.3.7
langgraph==0.3.2
markdown2